body {
  background-color:blue
}
h1{
    color:white;
      font-family: sans-serif;
}
ul{
  color:white;
}
.set{
  color:green;
}
.tenitive{
  color:orange;
}
#kiss{
  font-size:3em;
  color:silver;
  font-family:sans-serif;
}
.todo{
  color:red;
}
